---
import MainLayout from "../layouts/MainLayout.astro";
import Gallery from "../components/Gallery.astro";

const imgGroup = "/images/site/img-20220525-wa0007-dc55b215.jpg";
const imgCraft = "/images/site/20220302-125244-7f73674d.jpg";
const imgShoes = "/images/site/southampton-millionsmissing-2018-5-scaled-1c292205.jpg";
const imgJoin = "/images/site/7b58363c-c7ac-4aec-ace7-c5d55c9f6b11-89cd9431.png";

const galleryItems = [
  { src: "/images/site/20221207-134104-5b00e800.jpg", alt: "" },
  { src: "/images/site/20221207-134423-81808851.jpg", alt: "" },
  { src: "/images/site/20220302-125258-0982f527.jpg", alt: "" },
  { src: "/images/site/blob-fc399e1-e9bc701d.png", alt: "" },
  { src: "/images/site/img-20220525-wa0007-dc55b215.jpg", alt: "" },
  { src: "/images/site/20221207-134121-e08284eb.jpg", alt: "" },
  { src: "/images/site/20220302-125244-7f73674d.jpg", alt: "" },
];
---

<MainLayout title="About Us">
  <section class="container-pad">
    <div class="content-max">
      <h1 class="page-h1">About Us</h1>

      <div class="au__grid">
        <figure class="au__img au__img--a">
          <img src={imgGroup} alt="Survive and Thrive members" loading="lazy" decoding="async" />
        </figure>

        <p class="page-copy au__p--intro">
          We are an independent, non-profit support group for people with Myalgic Encephalomyelitis, Fibromyalgia and other Post-Viral Fatigue Syndromes such as Long-Covid. Our group also supports the families and loved ones of those who suffer with these illnesses and welcome them to our meetings. Our group meets on two Wednesdays a month, once online and once in person at our fully accessible hub in Dove Holes in the High Peak. We also keep in-touch between meetings in our members only WhatsApp group.
        </p>

        <p class="page-copy au__p--vol">
          Survive and Thrive is ran by volunteers who themselves are affected by these illnesses. We regularly have a theme to our meetings and keep them a safe and up-beat experience for everyone. At our meetings, we discuss how we manage and cope with different aspects of our conditions, as well as having occasional guest speakers, crafting days and more. Throughout the year we host events to raise money for relevant charities, raise awareness of the conditions and celebrate festive periods.
        </p>

        <figure class="au__img au__img--b">
          <img src={imgCraft} alt="Craft activity session" loading="lazy" decoding="async" />
        </figure>

        <figure class="au__img au__img--c">
          <img src={imgShoes} alt="Millions Missing awareness event" loading="lazy" decoding="async" />
        </figure>

        <p class="page-copy au__p--support">
          We also support recognised M.E events such as the
          <a href="https://meassociation.org.uk/2022/05/blue-sunday-tea-party/" rel="noreferrer" target="_blank">Blue Sunday Tea Party</a>
          and the
          <a href="https://www.meaction.net/countries/uk/millions-missing/" rel="noreferrer" target="_blank">Millions Missing Movement</a>.
        </p>

        <p class="page-copy au__p--member">
          To become a member you will be asked to fill out a membership form and pay a small yearly membership fee to support the group. We welcome members who are local to Buxton and the High Peak as we are a community based group. To become a member or get more information about our group, please <a href="/contact-us">contact us</a>.
        </p>

        <figure class="au__img au__img--join">
          <img src={imgJoin} alt="Join Us" loading="lazy" decoding="async" />
        </figure>
      </div>

      <h2 class="page-h1">Photo Gallery</h2>
      <Gallery items={galleryItems} autoplayMs={4500} />
    </div>
  </section>
</MainLayout>
